div{
    width: 150px;
    height:150px;
    background-color: aqua;
    border:1px solid black;
    display: inline-block;
}
.wrapper
{
    background-color: yellow;
    width:100vw;
    height:2000px;
}
#box3
{
    position: absolute;
    /* as you can see it is positioned to top left corner because there is no such nearest ansector element which is positioned by non-static property hence it considers the <bocy> tag position*/
}