div{
    width: 150px;
    height:150px;
    background-color: aqua;
    border:1px solid black;
    display: inline-block;
}
#box2
{
    position: fixed;
}
.wrapper
{
    background-color: yellow;
    width:100vw;
    height:2000px;
}