.container1
{
    border:1px solid black;
    height:200px;
    display: flex;
    margin-bottom: 10px;
    align-items: flex-start;
}
.box1
{
    border:1px solid green;
    background-color: darkgoldenrod;
}

.container2
{
    border:1px solid black;
    height:200px;
    display: flex;
    margin-bottom: 10px;
    align-items: flex-end;
}
.box2
{
    border:1px solid green;
    background-color: darkgoldenrod;
    
}

.container3
{
    border:1px solid black;
    height:200px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    /* can also create gap between items in a container */
    gap:10px;
}
.box3
{
    border:1px solid green;
    background-color: darkgoldenrod;
    
}

.container4
{
    border:1px solid black;
    height:200px;
    display: flex;
    margin-bottom: 10px;
    align-items: stretch;
}
.box4
{
    border:1px solid green;
    background-color: darkgoldenrod;
    
}

.container5
{
    border:1px solid black;
    height:200px;
    display: flex;
    margin-bottom: 10px;
    align-items: baseline;
}
.box5
{
    border:1px solid green;
    background-color: darkgoldenrod;
}
